.page-nav {
  position: absolute;
  top: 250px;
  right: -50px;

  color: $text-color;
  @include Roboto_regular(16px, 30px);

  &:after {
    content: '';

    position: absolute;
    bottom: -185px;
    left: 7px;

    width: 5px;
    height: 175px;

    background-image: url('../img/icon-nav.svg');
  }

  &--price {
    top: 300px;
  }

  &--feedback {
    top: 210px;
  }
  z-index: 1000;
}

@media (max-width: 1265px) {
  .page-nav {
    display: none;
  }
}
