.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin: 0;
  padding: 0;

  list-style: none;

  &--no-fb {
    width: 60px;

    .social__icon {
      fill: #888888;
    }
  }
}

.social__item {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 20px;
  }
}

.social__icon {
  fill: #ffffff;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.7;
  }
}
